[Unit]
Description=Test restoration from latest Aisha backup
RequiresMountsFor=/srv/data
After=aisha-backup.service

[Service]
Type=oneshot
User=root
ExecStart=/srv/data/git/homelab-bootstrap/scripts/restore-test
TimeoutStartSec=1h
